
/*title and body for each page*/
body {
    font-size: 0.9em;
    font-weight: bold;
    background-color: rgb(230, 247, 240);
    text-align: center;
}
.header {
    position:fixed;
    text-align: center;
    color: rgb(28, 231, 21);
    background-color:rgb(113, 64, 165);
    width: 100%;
    padding-bottom: 10px;
    font-family:Verdana, Tahoma, sans-serif;
}
/*navigation bar and image links*/
    ul {
        list-style-type: none;
        margin: auto;
        overflow: hidden;
        background-color: rgb(132, 175, 157);
        position: fixed;
        top: 0;
        width: 100%;
        text-align: center;
        padding:0;
        z-index:1;
    }
    li {
        float: left;
        width:24.9%;
        border-right: 1px solid rgb(132, 175, 157);
    }
    a {
        display: block;
        padding: 20px;
        background-color: rgb(49, 179, 71);
    }
    li a:hover {
        background-color: rgb(100, 36, 160);
    }
    li:last-child {
        border-right: none;
    }


/*game images + links*/ 
    h1 {
        padding-top: 30px;
        font-family: "monospace", sans-serif;
        background-color: rgb(132, 175, 157);
        z-index: 1;
    }
    h2 {
        padding-top: 100px;
        padding: 5px;
        font-style: italic;
        text-decoration: underline;
        background-color: rgb(86, 39, 136);
    }
    h3{
        padding-top:100px;
    }
    h6{
        font-weight: bold;
    }
    p {
        background-color: rgb(71, 158, 122);
        padding: 30px;
    }
    .image {
        display: inline;
        padding-top: 20px;
        padding-bottom: 20px;
        transition: transform .2s;
        border: none;
        margin: none;
        z-index: -1;
    }
    .image:hover { 
        transform: scale(1.05);
        z-index: -1;
    }
    .top-item{
        padding-top:100px;
    }
    #welcome {
        background-color: rgb(68, 54, 148);
    }
    #welcome-paragraph {
        background-color: rgb(rgb(33, 35, 146));
    }
